.Button {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 8px 28px;
    background: var(--primary);
    font-size: 1rem;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.Button.Secondary {
    background: var(--secondary);
}